<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<!-- ###FORM_VIEW### begin -->
<form id="mcrenderforms_form" action="###URL###" method="POST">
<div style="clear:both;">
	<div>
		###FORM###
	</div>
	<div style="clear: both; float: left;">
		<div class="mcrenderforms_label" style="float:left;">&nbsp;</div>
		<div class="mcrenderforms_field_div" style="float: left;"><button type="submit">#LLL#renderer.send#LLL#</button></div>
	</div>
	<div style="clear:both;">#LLL#renderer.required#LLL#</div>
</div>
</form>
<!-- ###FORM_VIEW### end -->

<!-- ###FORM_FIELD### begin -->
<div class="mcrenderforms_field_cont" style="clear:both; float: left;">
	<div class="mcrenderforms_label" style="float:left;">###LABEL### ###REQUIRED###</div>
	<div class="mcrenderforms_field_div" style="float:left;">###FIELD_SPEZ###</div>
	<div style="float:left;">###QUICKHELP###</div>
</div>
<!-- ###FORM_FIELD### end -->

</body>
</html>