<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="format.css" media="all" />
</head>
<body>

<!-- ###CAT_ROW### -->
<div style="clear: both;" class="csc-header csc-header-n1"><h1 class="csc-firstHeader">###NAME###</h1></div>
<!-- ###CAT_ROW### -->

<!-- ###OVERVIEW_ROW### begin -->
<div style="clear:both; float: left; padding: 5px 0px 5px 0px;">
	<div style="float: left; width: 30px;"><img ###SRC### title="#LLL#imgalt.clicktodownload#LLL#" alt="#LLL#imgalt.clicktodownload#LLL#" height="16px" /></div>
	<div style="float: left; width: 310px;">###TITLE###</div>
	<div style="float: left; width: 40px;">###INFO_ICON###</div>
	<div style="float: left; width: 40px;">###DOWNLOAD_ICON###</div>
</div>
<!-- ###OVERVIEW_ROW### end -->

<!-- ###INFO_IMG### -->
<img src="info.png" title="#LLL#imgalt.clicktoinfo#LLL#" alt="#LLL#imgalt.clicktoinfo#LLL#" height="16px" style="margin-left: 10px" />
<!-- ###INFO_IMG### -->

<!-- ###DOWN_IMG### -->
<img src="download.png" title="#LLL#imgalt.clicktodownload#LLL#" alt="#LLL#imgalt.clicktodownload#LLL#" height="16px" style="margin-left: 10px" />
<!-- ###DOWN_IMG### -->

<!-- ###SINGLE_VIEW### begin -->
<div>
	<div><h1>###TITLE###</h1></div>
	<div style="clear: both; margin-bottom: 10px;">###DESCRIPTION###</div>
	<div style="clear:both; float: left; padding: 5px 0px 5px 0px;">
		<div style="float: left; width: 50px;"><img ###SRC### title="#LLL#imgalt.clicktodownload#LLL#" alt="#LLL#imgalt.clicktodownload#LLL#" height="16px" /></div>
		<div style="float: left; width: 310px;">###FILELINK###</div>
	</div>
	<div style="clear: both; padding-top: 10px;">###BACK###</div>
</div>
<!-- ###SINGLE_VIEW### end -->

</body>
</html>