<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="format.css" media="all" />
</head>
<body>

<!-- ###OVERVIEW_CONT### begin -->
<div style="clear:both; float: left;">
	<div style="float:left; width: 250px;"><h1>#LLL#overview.label.name#LLL#</h1></div>
	<div style="float:left; width: 150px;"><h1>#LLL#overview.label.email#LLL#</h1></div>
	<div style="float:left; width: 150px;"><h1>#LLL#overview.label.web#LLL#</h1></div>
</div>
<!-- ###OVERVIEW_CONT### end -->

<!-- ###OVERVIEW_ROW### begin -->
<div style="clear:both; float: left; border-top: 1px solid black; padding: 5px 0px 5px 0px;">
	<div style="float:left; width: 250px;">###NAME###</div>
	<div style="float:left; width: 150px;">###EMAIL###</div>
	<div style="float:left; width: 150px;">###WEB###</div>
</div>
<!-- ###OVERVIEW_ROW### end -->

<!-- ###SINGLE_VIEW### begin -->
<div>
	<div><h1>###NAME###</h1></div>
	<div style="clear: both; float: left; margin-bottom: 10px;">
		<div style="float: left; width: 150px;">#LLL#overview.label.web#LLL#</div>
		<div style="float: left;">###WEB###</div>
	</div>
	<div style="clear: both; float: left; margin-bottom: 10px;">
		<div style="float: left; width: 150px;">#LLL#overview.label.contact#LLL#</div>
		<div style="float: left;">###CONTACT###</div>
	</div>
	<div style="clear: both; margin-bottom: 10px;">###DESCRIPTION###</div>
	<div style="clear: both; margin-bottom: 10px;">###BACK###</div>
</div>
<!-- ###SINGLE_VIEW### end -->

</body>
</html>